 * { margin: 0; 
       padding: 0; 
       box-sizing: border-box;} /* Reset CSS */
 body {font-family: sans-serif;
        background-color: #e4f5ed;
        color: #2e7555;
        line-height: 1.6;
        padding: 0;
       margin: 0;} /* Global Styles */
header {background-color: #0f7648;
        color: #fff;
        display: flex;
       align-items: center;
       justify-content: space-between;
        padding: 1rem 2rem;} /* Header Styles */
        header h1 {font-size: 3rem; font-style: italic;} /* Header Styles */
         /* Header Styles */

            
main {display: flex;}
       main nav {background-color: #b1dbc8; width: 40%;}

footer {background-color: #2e7555; color: #fff; text-align: left; padding: 1rem 0; font-size: 0.9rem;}