 * { margin: 0; 
       padding: 0; 
       box-sizing: border-box;} /* Reset CSS */
 body {font-family: Arial, Helvetica, sans-serif;
        background-color: #e4f5ed;
        color: #2e7555;
        line-height: 1.6;
        padding: 0;
       margin: 0;} /* Global Styles */
header {background-color: #2e7555;
        color: #fff;
        display: flex;
       align-items: center;
       justify-content: space-between;
        padding: 1rem 2rem;} /* Header Styles */
        header nav {background-color: #2e7555;
                     margin-left: 1rem;} 
        header .navbar-brand b {
              color: white; 
              font-size: 18px; 
              font-weight: bold; 
            }
       header img {width: 150px;
            height: auto;}
       header h1     {font-size: 1.5rem; 
                     margin: 0 auto; /*zentriert*/
                     text-align: center;} 
              header form input[type="text"] {
                                   padding: 0.5rem; 
                                   border: 1px solid #ccc; 
                                   border-radius: 5px;} 
              header nav ul {text-align: right;} 
                     header nav ul li {display: inline; margin: 0 15px;}
                            header nav ul li a {color: #fff; text-decoration: none; font-weight: bold;}
                            header nav ul li a:hover {text-decoration: underline;}       
main {display: flex;}
       main nav {background-color: #b1dbc8; width: 40%;}
main {padding: 2rem;}
section {margin-bottom: 2rem;}
       section h2 {font-size: 1.25rem; color: #2e7555;}
       section p {margin-top: 1rem; color:#2e7555} 
table {width: 100%; border-collapse: collapse; margin-top: 2rem;}
       table th, table td {border: 1px solid #2e7555; padding: 0.5rem; text-align:left;}
       table th {background-color: #2e7555; color: #fff;}
       table tr:nth-child(even) {background-color: #f3f3f3;}
       table tr:hover {background-color: #e4f5ed;}	   
footer {background-color: #2e7555; color: #fff; text-align: left; padding: 1rem 0; font-size: 0.9rem;}